---
version: 2
interactions:
- id: 0
  request:
    host: www.nbkr.kg
    form:
      begin_day:
      - "06"
      begin_month:
      - "11"
      begin_year:
      - "2025"
      end_day:
      - 09
      end_month:
      - "11"
      end_year:
      - "2025"
      item:
      - "2747"
      lang:
      - RUS
    url: https://www.nbkr.kg/index1.jsp?item=2747&lang=RUS&begin_day=06&begin_month=11&begin_year=2025&end_day=09&end_month=11&end_year=2025
    method: GET
  response:
    - chunked
    body: "\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n    \r\n\r\n\r\n\r\n\n\n\n\n\n<!DOCTYPE html>\n<!--[if lt IE 7]>      <html class=\"no-js lt-ie9 lt-ie8 lt-ie7\"> <![endif]-->\n<!--[if IE 7]>         <html class=\"no-js lt-ie9 lt-ie8\"> <![endif]-->\n<!--[if IE 8]>         <html class=\"no-js lt-ie9\"> <![endif]-->\n<!--[if gt IE 8]><!--> <html class=\"no-js\"> <!--<![endif]-->\n\n<head>\n    \n\n\n\n        <script src=\"js/checkbrowser.js\"></script>\n        \n        <script type=\"text/javascript\">\n            checkBrowser(params = {\n          warning: 'Браузер устар      ел!',\n                message: 'К сожалению Ваш интернет-обозреватель устарел. Для использования всех функций сайта рекомендуем произвести обновление.',\n                question: 'Вы хотите ОБНОВИТЬ БРАУЗЕР СЕЙЧАС?',\n                chrome: 10,\n                safari: 10,\n                msie: 8,\n                opera: 11,\n                firefox: 4,\n                chromeLink: 'http://www.google.com/chrome',\n                safariLink: 'http://www.apple.com/ru/safari',\n                msieLink: 'http://www.microsoft.com/rus/windows',\n                operaLink: 'http://ru.opera.com',\n                firefoxLink: 'http://www.mozilla-russia.org/products'\n            });\n        </script>\n\n        <meta charset=\"utf-8\">\n        <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge,chrome=1\">\n\n        <title>\n            Национальный банк Кыргызской Республики\n        </title>\n\n        <meta name=\"description\" content=\"\">\n        <meta name=\"viewport\" content=\"width=device-width\">\n        <meta http-equiv=\"cache-control\" content=\"no-cache\">\n        <meta http-equiv=\"expires\" content=\"0\">\n\n        <link rel=\"stylesheet\" href=\"css/bootstrap.min.css\">\n        <link rel=\"stylesheet\" href=\"css/style.css?ver=5\">\n        <link rel=\"stylesheet\" href=\"css/responsive.css?ver=2\">\n        <link rel=\"stylesheet\" href=\"css/helpers.css\">\n        <link rel=\"stylesheet\" href=\"css/lightgallery.css\">\n        <link rel=\"stylesheet\" href=\"dist/css/bvi.min.css\" type=\"text/css\">\n        <link rel=\"stylesheet\" href=\"dist/css/bvi-font.min.css\" type=\"text/css\">\n        <style>\n            .video-container {\n\n                position: relative;\n                width: 100%;\n                height: 0;\n                padding-bottom: 65.76%;\n            }\n            .video-container iframe {\n                position: absolute;\n                width: 100%;\n                height: 100%;\n                left: 0;\n                top: 0;\n            }\n        </style>\n        <link rel=\"shortcut icon\" href=\"favicon.ico\" type=\"image/x-icon\">\n        <script src=\"js/respond.min.js\"></script>\n        <script src=\"js/modernizr-custom.js\"></script>\n<!--        <script src=\"visually_impaired/js/bvi.js\"></script>\n        <script>new isvek.Bvi({target: '.bvi-open',fontSize: 16})</script>-->\n        <!--[if lt IE 9]>\n          <link rel=\"stylesheet\" href=\"css/ie8.css\">\n        <![endif]-->\n        <!--[if IE 7]>\n          <link rel=\"stylesheet\" href=\"css/ie7.css\">\n        <![endif]-->\n        <!--[if IE 6]>\n          <link rel=\"stylesheet\" href=\"css/ie6.css\">\n        <![endif]-->\n\n\n</head>\n\r\n\r\n<body>\r\n    <!-- EL-Offset Sidebar -->\r\n    \n\n<!-- Logo-->\n<div class=\"section\" id=\"header\">\n    <div class=\"block__header\" id=\"block\">\n        <div class=\"container\">\n            <div class=\"row header-row\">\n                <div class=\"col-md-4\">\n                    <a href=\"index.jsp?lang=RUS\" class=\"logotype__title\">\n                        \n                        <p class=\"logotype-title-text\">НАЦИОНАЛЬНЫЙ БАНК<br/>КЫРГЫЗСКОЙ РЕСПУБЛИКИ</p>\n                    </a>\n                </div>\n                <div class=\"col-md-4 logotype\">\n                    <a href=\"index.jsp?lang=RUS\">\n                        \n                        <img src=\"img/brand-logo.png\">\n                    </a>\n                </div>\n                <div class=\"col-md-4 links\">\n                    <div class=\"links__icons\">\n                        <a href=\"https://www.instagram.com/nbkr_kg/\"><img src=\"img/header_links/insta.png\" class=\"links__el\"></a>\n                        <a href=\"https://wa.me/501890000\"><img src=\"img/header_links/whatsapp.png\" class=\"links__el\"></a>\n                        <a href=\"https://www.facebook.co[...]
